.preloader {
  position: relative;
  height: 462px;
  background: white;
  border-radius: 10px;
  margin-left: 10px;
}

.preloaderBlock {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100px;
  height: 100px;
}

.preloaderImage {
  width: 100px;
  height: 100px;
}
